
p{
    font-family: roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-title{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 400px;
    line-height: 25px;
    margin-bottom: 5px;

}
.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}
.video-author{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 30px;

}
.video-description{
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 400px;
    line-height: 22px;
    margin-bottom: 200px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px; 

}
.shop-link{
    cursor: pointer;
}
.shop-link:hover{
    text-decoration: underline;
}
